<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <div class="container2">
        <aside class="sidebar">
            <h2 class="sidebar-title">Admin Panel 1.0</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-cog"></i> Settings </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-plus"></i> Content settings </a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-edit"></i> Login | Password </a></li>
                    <li class="nav-item"><a href="/administrator/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <div class="settings-form" style="display: none;">
                <form action="/administrator/edit_logpass" method="post" class="form">
                    <div class="input-group">
                        <label for="username" class="input-label">Login:</label>
                        <input type="text" name="username" id="username" required class="input">
                    </div>
                    <div class="input-group">
                        <label for="password" class="input-label">Password:</label>
                        <input type="password" name="password" id="password" required class="input">
                    </div>
                    <button type="submit" class="button">Save</button>
                </form>
            </div>
            <div class="settings-form2" style="display: none;">
                <form action="/administrator/edit_title" method="post" class="form">
                    <div class="input-group">
                        <label for="title" class="input-label">Portfolio name:</label>
                        <input type="text" name="title" id="title" required class="input" value="<%= title %>">
                    </div>
                    <button type="submit" class="button">Save</button>
                </form>
                <form action="/administrator/edit_design" method="post" class="form">
                    <label for="title" class="input-label">Change background color</label>
                    <div class="input-group input-group-inline">
                        <label for="color1" class="input-label">Color 1:</label>
                        <input type="color" name="color1" id="color1" required class="input" value="<%= color1 %>">
                    </div>
                    <div class="input-group input-group-inline">
                        <label for="color2" class="input-label">Color 2:</label>
                        <input type="color" name="color2" id="color2" required class="input" value="<%= color2 %>">
                    </div>
                    <div class="input-group input-group-inline">
                        <label for="color3" class="input-label">Color 3:</label>
                        <input type="color" name="color3" id="color3" required class="input" value="<%= color3 %>">
                    </div>
                    <button type="submit" class="button">Save</button>
                </form>
                <form action="/administrator/edit_design_text" method="post" class="form">
                    <label for="title" class="input-label">Change text color</label>
                    <div class="input-group input-group-inline">
                        <label for="color4" class="input-label">Headers color:</label>
                        <input type="color" name="color4" id="color4" required class="input" value="<%= color4 %>">
                    </div>
                    <div class="input-group input-group-inline">
                        <label for="color4" class="input-label">Main text color:</label>
                        <input type="color" name="color6" id="color6" required class="input" value="<%= color6 %>">
                    </div>
                    <div class="input-group input-group-inline">
                        <label for="color5" class="input-label">Navigation color:</label>
                        <input type="color" name="color5" id="color5" required class="input" value="<%= color5 %>">
                    </div>
                    <button type="submit" class="button">Save</button>
                </form>
            </div>
            <div class="settings-form3" style="display: none;">
                <div class="content-buttons">
                    <button class="button" id="about-me-btn">About me</button>
                    <button class="button" id="projects-btn">Projects</button>
                    <button class="button" id="resume-btn">Resume</button>
                    <button class="button" id="contacts-btn">Contacts</button>
                </div>
                <div class="content-sections">
                    <div class="section" id="about-me-section" style="display: none;">
                        <form action="/administrator/photo_aboutme" method="post" enctype="multipart/form-data"
                            class="form">
                            <div class="input-group">
                                <label for="image" class="input-label">Picture:</label>
                                <input type="file" name="image" id="image" required class="input">
                            </div>
                            <button type="submit" class="button">Save</button>
                        </form>
                        <form action="/administrator/edit_aboutme" method="post" class="form">
                            <div class="input-group">
                                <label for="maintext" class="input-label">Main text "About me":</label>
                                <textarea id="maintext" name="maintext" rows="10" cols="50" required class="input"
                                    style="white-space: pre;"><%= maintext %></textarea>
                            </div>
                            <button type="submit" class="button">Save</button>
                        </form>
                    </div>
                    <div class="section" id="projects-section" style="display: none;">
                        <form action="/administrator/add_state" method="post" enctype="multipart/form-data"
                            class="form">
                            <label for="title" class="input-label">Add new project</label>
                            <br>
                            <div class="input-group">
                                <label for="statname" class="input-label">Name:</label>
                                <input type="text" name="statname" id="statname" required class="input">
                            </div>
                            <div class="input-group">
                                <label for="statext" class="input-label">Description:</label>
                                <textarea id="statext" name="statext" rows="10" cols="50" required class="input"
                                    style="white-space: pre;"></textarea>
                            </div>
                            <div class="input-group">
                                <label for="image" class="input-label">Picture:</label>
                                <input type="file" name="image" id="image" required class="input">
                            </div>
                            <div class="input-group">
                                <label for="link" class="input-label">Project link:</label>
                                <input type="text" name="link" id="link" required class="input">
                            </div>
                            <div class="input-group">
                                <label for="link2" class="input-label">Github link:</label>
                                <input type="text" name="link2" id="link2" required class="input">
                            </div>
                            <button type="submit" class="button">Save</button>
                        </form>
                    </div>
                    <div class="section" id="resume-section" style="display: none;">
                        Resume content goes here.
                    </div>
                    <div class="section" id="contacts-section" style="display: none;">
                        <form action="/administrator/edit_socials" method="post" class="form">
                            <div class="input-group">
                                <label for="telegram" class="input-label">TG (nickname):</label>
                                <input type="text" name="telegram" id="telegram" required class="input" value="<%= telegram %>">
                            </div>
                            <div class="input-group">
                                <label for="vk" class="input-label">VK (id):</label>
                                <input type="text" name="vk" id="vk" required class="input" value="<%= vk %>">
                            </div>
                            <div class="input-group">
                                <label for="mail" class="input-label">Mail:</label>
                                <input type="text" name="mail" id="mail" required class="input" value="<%= mail %>">
                            </div>
                            <div class="input-group">
                                <label for="github" class="input-label">GitHub (nickname):</label>
                                <input type="text" name="github" id="github" required class="input" value="<%= github %>">
                            </div>
                            <div class="input-group">
                                <label for="linkedin" class="input-label">Linkedin (nickname):</label>
                                <input type="text" name="linkedin" id="linkedin" required class="input" value="<%= linkedin %>">
                            </div>
                            <button type="submit" class="button">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-text">
                <h1>Welcome to "Admin Panel"</h1>
                <p>For setting changes, working on content or edit admin login/password - change item in the navigation bar</p>
            </div>
        </main>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const settingsLink1 = document.querySelector('.nav-item:nth-child(3) .nav-link');
            const settingsForm1 = document.querySelector('.settings-form');
            const contentText = document.querySelector('.content-text');
            const settingsForm2 = document.querySelector('.settings-form2');
            const settingsForm3 = document.querySelector('.settings-form3');

            if (settingsLink1) {
                settingsLink1.addEventListener('click', (e) => {
                    e.preventDefault();
                    settingsForm1.style.display = 'block';
                    contentText.style.display = 'none';
                    settingsForm2.style.display = 'none';
                    settingsForm3.style.display = 'none';
                });
            }

            const settingsLink2 = document.querySelector('.nav-item:first-child');

            if (settingsLink2) {
                settingsLink2.addEventListener('click', (e) => {
                    e.preventDefault();
                    settingsForm2.style.display = 'block';
                    contentText.style.display = 'none';
                    settingsForm1.style.display = 'none';
                    settingsForm3.style.display = 'none';
                });
            }

            const settingsLink3 = document.querySelector('.nav-item:nth-child(2) .nav-link');

            if (settingsLink3) {
                settingsLink3.addEventListener('click', (e) => {
                    e.preventDefault();
                    settingsForm3.style.display = 'block';
                    contentText.style.display = 'none';
                    settingsForm1.style.display = 'none';
                    settingsForm2.style.display = 'none';
                });
            }
            const aboutMeBtn = document.querySelector('#about-me-btn');
            const projectsBtn = document.querySelector('#projects-btn');
            const resumeBtn = document.querySelector('#resume-btn');
            const contactsBtn = document.querySelector('#contacts-btn');

            const aboutMeSection = document.querySelector('#about-me-section');
            const projectsSection = document.querySelector('#projects-section');
            const resumeSection = document.querySelector('#resume-section');
            const contactsSection = document.querySelector('#contacts-section');

            if (aboutMeBtn) {
                aboutMeBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    aboutMeSection.style.display = 'block';
                    projectsSection.style.display = 'none';
                    resumeSection.style.display = 'none';
                    contactsSection.style.display = 'none';
                });
            }

            if (projectsBtn) {
                projectsBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    aboutMeSection.style.display = 'none';
                    projectsSection.style.display = 'block';
                    resumeSection.style.display = 'none';
                    contactsSection.style.display = 'none';
                });
            }

            if (resumeBtn) {
                resumeBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    aboutMeSection.style.display = 'none';
                    projectsSection.style.display = 'none';
                    resumeSection.style.display = 'block';
                    contactsSection.style.display = 'none';
                });
            }

            if (contactsBtn) {
                contactsBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    aboutMeSection.style.display = 'none';
                    projectsSection.style.display = 'none';
                    resumeSection.style.display = 'none';
                    contactsSection.style.display = 'block';
                });
            }
        });
    </script>
</body>

</html>